.error{color:red;}
.cptcha{color:red;font-weight:bold; margin:0px; padding0px;}
.padtxt{margin:0px 8px 0px 5px !important;}
.showtxt{margin:3px 0px 0px 0px !important;}
#loadingdiv{position:absolute; margin:-23px 0px 0px 75px;}
.regload{position:absolute; margin:-22px 0px 0px 90px;}

.mod_register_login {
	margin: 0;
	color: #333;
	width: 100%;
}

.mod_register_login nav{
	top: 1px;
	position: relative;
}

.mod_register_login nav ul li{
	float: left;
}

.mod_register_login > input, .mod_register_login section{
	clear: both;
	padding: 20px;
	background: #fff;
	border: 1px solid #ddd;
}

.mod_register_login > input, .mod_register_login section > div {
	display: none;
}

#mod_login:checked ~ section .mod_login, #mod_register:checked ~ section .mod_register {
	display: block;
}

#mod_login:checked ~ nav .mod_login, #mod_register:checked ~ nav .mod_register {
	color: red;
}

.mod_register_login ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mod_register_login ul li{
	border: none;
}

.mod_register_login ul li label {
	color: #444;
	font-size: 16px;
	background: #eee;
	border-bottom: 0;
	margin-bottom: 0;
	padding: 15px 35px;
	border: 1px solid #ddd;
}

.mod_register_login ul li label:hover {
	background: #ddd;
}

.mod_register_login ul li label:active {
	background: #fff;
}

.mod_register_login ul li:not(:last-child) label {
	border-right-width: 0;
}

#mod_login:checked ~ nav .mod_login label, #mod_register:checked ~ nav .mod_register label{
	color: #111;
	background: white;
	position: relative;
}

#mod_login:checked ~ nav .mod_login label:after, #mod_register:checked ~ nav .mod_register label:after{
	left: 0;
	height: 2px;
	width: 100%;
	content: '';
	bottom: -1px;
	display: block;
	background: #fff;
	position: absolute;
}

.mod_register_login #login_form .control-group label{
	color: #333;
	font-weight: normal;
}

.mod_register_login .control-group .controls .add-on{
	height: 34px;
	box-sizing: border-box;
	padding: 5px 10px;
}

.mod_register_login .control-group .controls .add-on [class*="icon-"]{
	height: 22px;
	line-height: 22px;
}

.mod_register_login .control-group .controls input[type*="checkbox"]{
	height: auto;
}

.mod_register_login .control-group .controls input{
	height: 34px;
	box-sizing: border-box;
}

.mod_register_login .unstyled li{
	float: none;
	display: block;
}